In [70]:
import pandas as pd
import numpy as np
from fastapi import FastAPI
import json
import pymysql

In [71]:
from fastapi import FastAPI
from starlette.responses import RedirectResponse
import pymysql

app = FastAPI()


def conectar_a_base_de_datos() :
    conexion = pymysql.connect(
    host = 'localhost',
    user = 'root',
    passwd = 'mysql123M',
    db= 'pi1',
    port= 3306
    )
    return conexion.cursor()

In [72]:
def word_count(plataforma,kword):
    cursor=conectar_a_base_de_datos()
    a=[]
    plataforma=str(plataforma)
    kword=str(kword)
    p=''
    if plataforma == "amazon":
        p = "a"
    elif plataforma == "disney":
        p = "d"
    elif plataforma == "hulu":
        p = "h"
    elif plataforma == "netflix":
        p = "n"
    else:
        "Inserte: amazon, disney, hulu o netflix"
    
    cursor.execute("select id_plataform, title, count(*) as cantidad \
        from dftitle \
        where title like '%"+kword+"%' and id_plataform = '"+p+"'")
        
    for dato in cursor:
        a.append(dato)
    
    return a

In [73]:
word_count("netflix","love")

[('n', 'love on the spectrum', 196)]

In [74]:
def score_count(plataforma,score,year):
    cursor=conectar_a_base_de_datos()
    a=[]
    score=str(score)
    year=str(year)
    p=''
    if plataforma == "amazon":
        p = "a"
    elif plataforma == "disney":
        p = "d"
    elif plataforma == "hulu":
        p = "h"
    elif plataforma == "netflix":
        p = "n"
    else:
        "Inserte: amazon, disney, hulu o netflix"
    
    cursor.execute("select id_plataform, title, count(*) as cantidad \
        from dftitle\
        where score > 85 and id_plataform = '"+p+"' and release_year = '"+year+"' and type ='movie'")
    for dato in cursor:
        a.append(dato)
    
    return a

In [75]:
score_count("netflix",85,2010)

[('n', 'grown ups', 20)]

In [76]:
def second_score(plataforma):
    cursor=conectar_a_base_de_datos()
    a=[]
    p=''
    if plataforma == "amazon":
        p = "a"
    elif plataforma == "disney":
        p = "d"
    elif plataforma == "hulu":
        p = "h"
    elif plataforma == "netflix":
        p = "n"
    else:
        "Inserte: amazon, disney, hulu o netflix"
    query="select * from (select id_plataform, score, title, ROW_NUMBER() OVER (ORDER BY score desc, title) AS orden \
        from dftitle) a \
        where id_plataform = '"+p+"' and orden = 2"
    cursor.execute(query)
    for dato in cursor:
        a.append(dato)
    
    return a

In [77]:
second_score("amazon")

[('a', 100, '15-minute cardio core 8.0 workout (with weights)', 2)]

In [79]:
def longest(plataforma,tip,year):
    cursor=conectar_a_base_de_datos()
    a=[]
    year=str(year)
    p=''
    if plataforma == "amazon":
        p = "a"
    elif plataforma == "disney":
        p = "d"
    elif plataforma == "hulu":
        p = "h"
    elif plataforma == "netflix":
        p = "n"
    else:
        "Inserte: amazon, disney, hulu o netflix"
    
    query="select id_plataform, title, release_year, convert(SUBSTRING_INDEX(duration,' ', 1), UNSIGNED INTEGER)  AS tiempo,\
        SUBSTRING_INDEX(duration,' ', -1) as unidades from dftitle \
        where release_year = '"+year+"' and id_plataform = '"+p+"' and SUBSTRING_INDEX(duration,' ', -1) like '"+tip+"%' \
        order by 4 desc \
        limit 1"
    cursor.execute(query)

    for dato in cursor:
        a.append(dato)
    
    return a

In [80]:
longest("netflix","min",2016)

[('n', 'sairat', 2016, 173, 'min')]

In [42]:
def longest(rating):
    cursor=conectar_a_base_de_datos()
    a=[]
     
    query="select rating, type, count(*) as cantidad \
        from dftitle \
        where rating ='"+rating+"' \
        group by rating"
    cursor.execute(query)

    for dato in cursor:
        a.append(dato)
    
    return a

In [43]:
longest('18+')

[('18+', 'tv show', 1243)]